# ----------------------------------------------------------------
# Engine
# ----------------------------------------------------------------

# ENGINE_URL: Defines the URL of the engine.
# - If this is set, the application will use a remote engine (e.g., the Docker container).
# - If this is commented out or not set, the application will run the engine locally in the same process.
# ENGINE_URL=http://127.0.0.1:5001

# CONTAINER_DATA_PATH: Defines the path to the data cache for the engine service when running in a container.
# LOCAL_DATA_PATH: Defines the path on the host machine that maps to the container's data path.
#
# Both variables are required for containerized setups to correctly map the data volume in `compose.yaml`.
# You can use '~' for your home directory in LOCAL_DATA_PATH, e.g., ~/stemma2a/cache
CONTAINER_DATA_PATH=/app/data
LOCAL_DATA_PATH=~/stemma2a/cache


# ----------------------------------------------------------------
# Cloudflare Tunnel (Optional)
# ----------------------------------------------------------------

# Cloudflare Access service token.
# Required for authenticating with the Cloudflare Tunnel client-side.
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=

# Cloudflare Tunnel token for the engine service server-side.
CF_TUNNEL_TOKEN=
