# ----------------------------------------------------------------
# Engine
# ----------------------------------------------------------------

# ENGINE_URL: Defines the URL of the engine.
# - If this is set, the application will use a remote engine (e.g., the Docker container).
# - If this is commented out or not set, the application will run the engine locally in the same process.
# ENGINE_URL=http://127.0.0.1:5001


# ----------------------------------------------------------------
# Cloudflare Tunnel (Optional)
# ----------------------------------------------------------------

# Cloudflare Access service token.
# Required for authenticating with the Cloudflare Tunnel client-side.
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=

# Cloudflare Tunnel token for the engine service server-side.
CF_TUNNEL_TOKEN=
