# Note: torch should be installed independently (using relevant CPU or CUDA version) before this list

# --------------------
# Core
# --------------------
flask[async]
flask-cors
python-dotenv
soundfile
librosa
setuptools<60
requests
pydantic
aiohttp
scikit-learn

# --------------------
# Representation
# --------------------
networkx
xxhash
coolname

# --------------------
# Engine
# --------------------
torchcodec
k-diffusion
pytorch-lightning
stable-audio-tools
