:root {
  --color-overlay-background-primary: rgba(0, 0, 0, 0.7);
  --color-overlay-background-secondary: rgba(0, 0, 0, 0.8);
  --color-overlay-border-primary: rgba(255, 255, 255, 0.2);
  --color-overlay-border-secondary: rgba(255, 255, 255, 0.3);
  --color-overlay-text: #ffffff;

  --color-background-glass-1: rgba(0, 0, 0, 0.3);
  --color-background-glass-2: rgba(0, 0, 0, 0.2);
  --color-background-glass-3: rgba(0, 0, 0, 0.5);
  --color-background-glass-4: rgba(0, 0, 0, 0.9);
  --color-background-glass-hover-1: rgba(255, 255, 255, 0.15);
  --color-border-glass-1: rgba(255, 255, 255, 0.1);
  --color-primary-t-30: rgba(147, 51, 234, 0.3);
  --color-primary-t-50: rgba(147, 51, 234, 0.5);

  --color-background: #1b1b1f;
  --color-background-soft: #222222;
  --color-background-mute: #282828;
  --color-background-dark: #0f172a;
  --color-background-medium: #1e293b;

  --color-primary: #9333ea;
  --color-primary-hover: #7c3aed;

  --color-text: rgba(255, 255, 245, 0.86);
  --color-text-overlay-primary: rgba(255, 255, 255, 0.7);
  --color-text-overlay-secondary: rgba(255, 255, 255, 0.5);
  --color-text-overlay-tertiary: rgba(255, 255, 255, 0.9);

  /* Graph Colors */
  --graph-gradient-1: #002254;
  --graph-gradient-2: #004294;
  --graph-gradient-3: #5b3285;
  --graph-gradient-4: #7e1b6a;
  --graph-gradient-5: #8f004a;
  --graph-audio: #227788;
  --graph-batch: #000000;
  --graph-selected: #888888;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
